$background : #F5F7FB;
$purp:#4D5B9E;
$text:#293264;
$choosed:#D6DBF5;
$right:#94D7A2;
$wrong:#F8BCBC;
$normalBtnText:#293264;
$normalBtnBorder:#4D5B9E;
body{
    background-image: url('../src/assets/intro-page.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
   
    
    
}
#root{
    height: 100%;
}
.btn{
    
    padding: 16px 40px;
    color:#F5F7FB; 
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0em;
text-align: center;
border-radius: 15px;
border: none; 
background-color: $purp;
a{
    color:#F5F7FB;
}
  }